.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--black);
}

.chat__window {
    height: 100%;
    width: 100%;
    margin: var(--margin-standart);
    overflow-y: auto;
}

.chat__message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-top: 1px solid var(--black);
    padding-top: var(--padding-small);
}

.chat__textarea {
    width: 100%;
    border: 2px solid transparent;
    border-radius: var(--radius-standart);
    padding: var(--padding-small);
    height: 40px;
    transition: all 0.3s ease;
    resize: none;
    &:hover:not(:disabled) {
        border: 2px solid var(--black);
    }
    &:focus:not(:disabled) {
        height: 50px;
    }
}

.chat__submit {
    display: flex;
    align-items: center;
}

.chat__user-status {
    &.online {
        color: green;
    }
    &.offline {
        color: red;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-self: end;
    max-width: 300px;
    padding: var(--radius-small);
    background-color: #8b8b8b;
    border-radius: var(--radius-standart);
    text-align: left;
    gap: 5px;
    &.message__not-me {
        align-self: start;
    }
}

.chat__window-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100%;
    padding-right: 10px;
    gap: 10px;
    &:has(.message) {
        justify-content: end;
    }
}

.message__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.message__text {
    padding: var(--padding-small);
    border-radius: var(--radius-small);
    word-break: break-word;
    background-color: var(--white);
}

.context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: var(--padding-small);
    margin: 0;
    list-style-type: none;
    width: 180px;
    background-color: var(--gray);
    border: 2px solid var(--black);
    border-radius: var(--radius-small);
}

.context-menu__item {
    cursor: pointer;
    padding: var(--padding-small);
    &:hover {
        background-color: var(--white);
        border-radius: var(--radius-small);
    }
}

.message__text-editable {
    font-size: 12px;
    display: flex;
    align-self: end;
}
