.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--black);
}

.chat__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.chat__message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-top: 1px solid var(--black);
    padding-top: var(--padding-small);
}

.chat__textarea {
    width: 100%;
    border: 2px solid transparent;
    border-radius: var(--radius-standart);
    padding: var(--padding-small);
    height: 40px;
    transition: all 0.3s ease;
    resize: none;
    &:hover:not(:disabled) {
        border: 2px solid var(--black);
    }
    &:focus:not(:disabled) {
        height: 50px;
    }
}

.chat__submit {
    display: flex;
    align-items: center;
}

.chat__user-status {
    &.online {
        color: green;
    }
    &.offline {
        color: red;
    }
}
