*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --gray: #cccccc;
    --radius-standart: 1rem;
    --radius-small: 0.5rem;
    --padding-standart: 1rem;
    --padding-small: 0.5rem;
}

.body {
    color: var(--black);
    font-family: 'Montserrat', 'Arial', Helvetica, sans-serif;
    padding: var(--padding-standart);
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    border: 2px solid transparent;
    border-radius: var(--radius-small);
    padding: var(--padding-small);
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
        background-color: var(--gray);
        border: 2px solid var(--black);
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: var(--padding-small);
    border-radius: var(--radius-small);
    border: 2px solid transparent;
}
