.burger {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &.active {
        transform: rotate(90deg);
        .burger-line::after {
            display: none;
        }
        .burger-line::before {
            top: 0px;
            left: 0;
            transform: rotate(90deg);
        }
        .burger-line {
            top: 8px;
            transform: rotate(-45deg);
        }
    }
}

.main-wrapper:has(.burger.active) .left-side {
    display: none;
}

.burger-line {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background-color: var(--black);
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 4px;
        background-color: var(--black);
        top: 16px;
        left: 0;
    }
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 4px;
        background-color: var(--black);
        top: 8px;
        left: 0;
    }
}

.burger-wrapper {
    width: 300px;
}
